<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Developer Info</h4>
                <ul>
                    <li><a href="#">Yogesh Kumar <br> NIT-KKR@2ndyear</a></li>
                    <li><a href="https://www.linkedin.com/in/yogeshKumaRdev123/">Linked In</a></li>
                </ul>
            </div>
            <div class="col">
                <h4>Contribution</h4>
                <ul>
                    <li><a href="https://github.com/its-Yogesh123/FreeQRGenerator.git">Github Source Code</a></li>
                </ul>
            </div>
            <div class="col">
                <h4>Help</h4>
                <ul>
                    <li><a href="#">support@yolab.in</a></li>
                    <li><a href="#">yogesh.developer9@gmail.com</a></li>
                </ul>
            </div>
        </div>
        <div class="row para">
          <p>Copyright@2024 All Right Reserved</p>
        </div>
    </div>

</footer>